<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Headline Scraper</h1>
        <p class="lead">Get all the latest news right here</p>
    </div>
</div>
{{!-- <div class="row">
    <div class="col-md-12">
        <p>Choose your publication</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <button id="nyt-button">New York Times</button>
    </div>
    <div class="col-md-6">
        <button id="huff-button">Huffington Post</button>
    </div>
</div> --}}

<div class="row">
    <div class="col-md-12">
        <p>Get the latest News</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <button id="scrape">Scrape New Articles</button>
    </div>
    <div class="col-md-6">
        <button id="empty">Clear Articles</button>
    </div>
</div>

{{#each article}}
{{#if this.image}}
<img class="thumbnail" src="{{this.image}}" alt="article image">
{{/if}}
<h4>{{this.title}}</h4>
<button class="btn btn-primary save" data-id="{{this._id}}" >Save Article</button>
{{#if this.byline}}
<p>{{this.byline}}</p>
{{/if}}
<p><a href="{{this.link}}">Read More</a></p>

{{/each}}